[hidden] { display: none !important; }

html {
  background-color: rgb(2, 10, 20);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.822),rgba(0, 0, 0, 0.856)); */
}

body {
  /* height: 97vh;
  position: relative;
  display: block; */
}

#mainContainer {
  /* height: 100%; */
}

#background {
  background-image: url(assets/images/sound-wave-2.png);
  background-size: 640px 310px;
  background-position: 50% 63px;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative;
  height: 337px;
}

/* #backgroundImage {
  width: 614px;
  height: 300px;
  display: block;
  margin-top: 30px;
  z-index: -1;

  position: fixed;
  left: 50%;
  margin-left: -307px;
} */

/* 
#background::before {
  background: linear-gradient(to right, rgb(93, 246, 252),rgb(93, 174, 250),rgb(221, 83, 255));
  mix-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 0px;
  bottom: 42%;
} */

/* #mainContainer {
  width: 57%;
  margin: 0 auto;
} */

#introSection {
  width: 500px;
  margin: 0 auto;
  margin-top: 19px;
}

#appTitle {
  /* color: rgb(64, 211, 230); */

  background: linear-gradient(to right, rgb(45, 202, 223),rgb(109, 227, 248), rgb(45, 202, 223)); 
  /* background: linear-gradient(to bottom, rgb(45, 166, 223),rgb(109, 248, 234));  */
  background-color: white;   
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  font-family: 'website-title', sans-serif;
  font-size: 36px;
  text-align: center;
  letter-spacing: 6px;

  width: 290px;
  margin: 0 auto;
  margin-top: -32px;
}

#about {
  margin: 0 auto;
  text-align: center;
  margin-top: -5px;
  margin-bottom: -3px;
  padding: 7px 0px;

  /* border: 2.75px solid rgba(124, 124, 124, 0.568); */
  /* border-radius: 29px; */
  /* width: 59%; */
}

#about > hr {
  height: 1px;
  border: 0px;
  padding: 0 0;
  margin: 3px auto;
  width: 98%;
  background-image: linear-gradient(to right, rgba(141, 141, 141, 0.1), rgba(141, 141, 141, 0.5), rgba(141, 141, 141, 0.1));
}

#about > p {
  margin: 0 auto;
  padding: 3px 20px;
  font-size: 24px;
  font-family: 'main-text', sans-serif;
  color: rgba(214, 214, 214, 0.938);
  letter-spacing: 1.2px;
}

#createdBy {
  color: rgba(214, 214, 214, 0.938);
  margin: 0 auto;
  text-align: center;
}

#createdBy p {
  margin: 0px auto;
  padding: 0 0;
  font-family: 'created-by', sans-serif;
  letter-spacing: 2px;
  font-size: 19px;
}

#modelLoading, .transcribingMessage {
  margin: 0 auto;
  padding: 0px 14px;
  font-size: 31px;
  letter-spacing: 1.2px;
  display: block;
  width: 300px;
  /* text-transform: uppercase; */
  font-family: 'main-text', sans-serif;
  color: rgb(199, 199, 199);
  text-align: center;
  position: relative
}

#modelLoading > span {
  display: inline-block !important;
  animation: pulsing-fade 1.2s ease-in-out infinite;
}

.pulse {
  animation: pulsing-fade 1.2s ease-in-out infinite;
}

#modelLoading {
  top: 4px;
}

#transcribingMessageHistory, #downloadingMessageHistory {
  animation: pulsing-fade 1.2s ease-in-out infinite;
  top: 0px;
  text-align: left;
  margin: 0 0;
  padding: 0 0;
}

#usernameContainer {
  /* border: 1px solid grey; */
  border: 1px solid rgba(175, 175, 175, 0.5);
  border-radius: 27px;
  width: 250px;
  margin: 0 auto;
  padding: 4px 0 16px 0;
  position: relative;
  margin-top: 14px;
}

#usernameContainer label {
  display: block;
  font-family: 'main-text', sans-serif;
  font-size: 25px;
  color: rgb(199, 199, 199);
}

#usernameContainer p {
  font-family: 'main-text', sans-serif;
  font-size: 15px;
  color: rgb(199, 199, 199);
  margin: 0 auto;
}

#usernameDropdownContainer {
  text-align: center;
}

select#usernameDropdownMenu {
  margin: 3.5px 0 2px 0;
  text-align-last:center; 
  width: 169px;
  height: 24px;
  text-align-last: center;
  border-radius: 5px;
  outline: none;
  border: none;
}

/* 
#orDiv hr {
  height: 1px;
  border: 0px;
  padding: 0 0;
  margin: 3px auto;
  width: 95%;
  background-image: linear-gradient(to right, rgba(177, 177, 177, 0.1), rgba(212, 212, 212, 0.5), rgba(177, 177, 177, 0.1));
} */

#orDiv {
  display: flex;
  align-items: center;
  text-align: center;
  width: 93%;
  margin: 0 auto;
  margin-bottom: -2px;
  margin-top: 4px;

  font-family: 'main-text', sans-serif;
  font-size: 15px;
  color: rgb(199, 199, 199);
}
#orDiv::before, #orDiv::after {
  content: '';
  flex: 1;
  /* border-bottom: 1px solid rgba(122, 122, 122, 0.534); */
}
#orDiv::before {
  margin-right: 7px;
  margin-top: 1.5px;
  height: 1px;
  background-image: linear-gradient(to right, rgba(177, 177, 177, 0.15), rgba(212, 212, 212, 0.5));
}
#orDiv::after {
  margin-left: 7px;
  margin-top: 1.5px;
  height: 1px;
  background-image: linear-gradient(to left, rgba(177, 177, 177, 0.15), rgba(212, 212, 212, 0.5));
}

#usernameForm {
  text-align: center;
}

input#submitUsernameBtn {
  height: 16px;
  width: 16px;
  filter: brightness(0.58);
  margin-left: 4.9px;
  top: 125.4px;
  position: absolute;
  /* filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(319deg); */
  transition: all 0;
}

#inputUsername {
  margin: 4px 0 0px -1px;
  text-align: center;
  border-radius: 5px;
  width: 167px;
  height: 22px;
  border: none;
}

input#usernameDeleteBtn {
  height: 8px;
  width: 16px;
  top: 37.49px;
  margin: 10px 5px 10px 5.47px;
  border: none;
  filter: brightness(0.58);
  position: absolute;
  padding: 0px 0px;
  outline: none;
}

#inputUsername:focus, .inputRename:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1.5px rgb(24, 160, 179);
  background: hsl(189, 41%, 97%);
  /* box-shadow: 0 0 0 1.5px rgb(191, 201, 51);
  background: rgb(254, 255, 241); */
}

input#usernameDeleteBtn:hover, #closeVisualizerBtn:hover, .closeVisualizerHistoryBtn:hover, .deleteBtn:hover {
  filter: brightness(.5) sepia(1) saturate(7000%);
}

input#submitUsernameBtn:hover, #saveToComputerBtn:hover, #saveToAppBtn:hover, .playBtn:hover, .downloadBtn:hover {
  filter: brightness(15) sepia(1) saturate(2000%) hue-rotate(516deg);
  /* filter: brightness(15) sepia(1) saturate(2000%) hue-rotate(411deg); */
}

input#submitUsernameBtn:active, #saveToComputerBtn:active, #saveToAppBtn:active, .playBtn:active, .downloadBtn:active,
input#usernameDeleteBtn:active, #closeVisualizerBtn:active, .closeVisualizerHistoryBtn:active, .deleteBtn:active   {
  transform: scale(.9);
  /* filter: brightness(15) sepia(1) saturate(2000%) hue-rotate(358deg); */
  outline:none;
}

input#submitUsernameBtn:focus-within, #saveToComputerBtn:focus-within, #saveToAppBtn:focus-within, .playBtn:focus-within, .downloadBtn:focus-within,
button#usernameDeleteBtn:focus-within, #closeVisualizerBtn:focus-within, .closeVisualizerHistoryBtn:focus-within, .deleteBtn:focus-within {
  outline:none;
} 

#recordingSection, #reviewSection {
  margin: 0 auto;
  width: 500px;
}

hr {
  height: 1px;
  border: 0px;
  padding: 0 0;
  margin: 3px auto;
  background-image: linear-gradient(to right, rgba(165, 165, 165, 0.1), rgba(175, 175, 175, 0.5), rgba(165, 165, 165, 0.1));
  position: relative;
}

#hrBtnRecordBefore {
  margin-top: 21.5px;
  margin-bottom: 16px;
}

#hrBtnRecordAfter {
  margin-top: 20px;
  margin-bottom: 15px;
}

#hrSaveAfter {
  margin-top: 18px;
  margin-bottom: 18px;
}

#hrLoadingAfter {
  margin-top: 21px;
  margin-bottom: 17px;
  width: 139px;
}

.hrRecordingAfter {
  height: 1px;
  background-color: rgba(175, 175, 175, 0.25);
  background-image: none;
  width: 370px;
  margin: 0 auto;
  margin-top: 1px;
}

#btnRecord {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 104px;
  outline: none;
  transition: all 0.4s;
}

#btnRecord:hover {
  /* filter: brightness(.7); */
}

#btnRecord:active {
  transform: scale(.93);
  /* filter: brightness(15) sepia(1) saturate(2000%) hue-rotate(358deg); */
  outline:none;
}

#btnRecordText, #recordingError, #iosError {
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: -5.5px;
  text-align: center;
  padding: 0 0;
  font-size: 25px;
  font-family: 'main-text', sans-serif;
  color: rgba(214, 214, 214, 0.938);
  letter-spacing: 1.2px;
}

.visualizerDiv {
  position: relative;
}

#visualizerFeaturesContainer {
  position: relative;
}

.visualizerContainer {
  min-height: 175px;
  position: relative;
  overflow-x: auto;
  padding: 10px 0;
  margin: 0px 30px;
  cursor: pointer;
  /* border-radius: 27px; */
  text-align: center;
}

#visualizerContainer {
  border: 2px solid rgba(175, 175, 175, 0.35);
}

#visualizerContainerHistory {
  padding: 15px 15px;
  margin: 4px 15px 16px 15px;
  border: 2px solid rgba(175, 175, 175, 0.35);
}

#visualizerContainer:hover:enabled, #closeVisualizerBtn:hover:enabled ~ #visualizerContainer {
  border: 2.5px solid rgba(175, 175, 175, 0.5) 
  /* border: 3.9px solid rgba(65, 204, 226, 0.4)  */
}

#visualizerContainerHistory:hover:enabled, #closeVisualizerHistoryBtn:hover:enabled ~ #visualizerContainerHistory {
  border: 2.5px solid rgba(175, 175, 175, 0.5);
  /* border: 3.9px solid rgba(65, 204, 226, 0.4)  */
}

.playIcon, .stopIcon {
  position: absolute;
  width: 65px;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  transition: all 0.4s;
  z-index: -1;
}

.playIcon:active, .stopIcon:active {
  transform: scale(.96);
}

h3 {
  color: rgb(109, 227, 248);
  position: relative;
  display: block;
  margin: 0 auto;
  font-family: 'main-text', sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
}

h3#recordingHeader {
  margin-bottom: 10px;
}

h3#reviewHeader {
  margin-bottom: 12px;
}

#recordingError, #iosError {
  margin-bottom: -5.5px;
  color: rgba(214, 214, 214, 0.938);
  letter-spacing: .8px;
  margin-top: 13px;
  font-size: 20px;
}

#inputRecordingName {
  display: block;
  margin: auto;
  width: 208px;
  text-align: center;
  outline: none;
  border-radius: 5px;
  height: 28px;
  font-size: 15px;
  border: none;
  padding: 0 0;
}

#inputRecordingName:focus {
  box-shadow: 0 0 0 1.5px rgb(24, 160, 179);
  background: hsl(189, 41%, 97%);
}

#saveContainer {
  margin: 14px 0 0px 0;
}

#saveGrid {
  display: grid;
  grid-template-columns: 210px 16px 33px;
  align-items: center;
  column-gap: 19px;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
}

#saveToAppBtn {
  width: 16px;
}

#saveToComputerBtn {
  width: 33px;
  
  /* font-size: 16px;
  display: block;
  margin: 6px auto;
  width: 195px;
  text-align: center;
  outline: none;
  border-radius: 5px;
  height: 30px;
  border: 1px solid cyan;
  background: none;
  color: white;
  font-family: 'main-text', sans-serif; */
}

#closeVisualizerBtn {
  position: absolute;
  /* top: 15px;
  right: 20px; */
  top: 18px;
  right: 54px;
  width: 19px;
  z-index: 1;
}

.closeVisualizerHistoryBtn:disabled, .playBtn:disabled, .deleteBtn:disabled, .downloadBtn:disabled, #saveToComputerBtn:disabled, #saveToAppBtn:disabled, #closeVisualizerBtn:disabled, input#submitUsernameBtn:disabled, input#usernameDeleteBtn:disabled {
  filter: brightness(.3);
}

.recordingName, #transcribingMessageHistory, #downloadingMessageHistory {
  width: 200px;
  color: white;
  font-family: 'main-text', sans-serif;
  font-size: 23px;
  justify-self: start;
  margin-top: 0px;
  margin-bottom: 0;
}

#historyHeader {
  margin-bottom: 11px;
}

#historyContainer {
  border: 1px solid rgba(175, 175, 175, 0.5);
  border-radius: 27px;
  display: block;
  position: relative;
  width: 397px;
  margin: auto;
  padding: 3px 0px;
  margin-bottom: 25px;
}

.recordingGrid {
  display: grid;
  grid-template-columns: 227px 13px 28px 14px;
  align-items: center;
  column-gap: 21px;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 43px;
  position: relative;
  margin-left: -5px;
}

.playBtn {
width: 15px;
}

.downloadBtn {
  width: 25.5px;
  margin-top: 1px;
}
.deleteBtn {
  width: 17px;
  margin-top: -.5px;
}

.closeVisualizerHistoryBtn {
  position: absolute;
  top: 18px;
  right: 38px;
  width: 19px;
  z-index: 1;
}

.inputRename {
  height: 23px;
  width: 172px;
  display: block;
  margin-top: 1px;
  padding-left: 10px;
  position: relative;
  border: none;
  font-size: 14px;
  border-radius: 5px;
}

#noRecordingsMessage {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: -3px;
  padding: 4px 0;
  text-align: center;
  width: 400px;
  color: rgba(214, 214, 214, 0.938);
  font-family: 'main-text', sans-serif;
  font-size: 22px;
}

footer {
  height: 19px;
}

@keyframes pulsing-fade { 
  50% { opacity: 0.3; }
}

/* Display */

@media only screen and (min-width: 615px) {
  #background {
    background-size: 100vw 300px;
  }
}

/* Fonts */

@font-face {
  font-family: 'main-text';
  src: url('../voice-tunes-frontend/assets/fonts/alegreyasanssc-light.woff2') format('woff2'),
    url('../voice-tunes-frontend/assets/fonts/alegreyasanssc-light.woff') format('woff');
}

@font-face {
  font-family: 'website-title';
  src: url('../voice-tunes-frontend/assets/fonts/newyork-webfont.woff2') format('woff2'),
    url('../voice-tunes-frontend/assets/fonts/newyork-webfont.woff') format('woff');
}

@font-face {
  font-family: 'created-by';
  src: url('../voice-tunes-frontend/assets/fonts/alegreyasanssc-light.woff2') format('woff2'),
    url('../voice-tunes-frontend/assets/fonts/alegreyasanssc-light.woff') format('woff');
}